<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.muziuniv_be_notuser.app.student.gpa.GpaMapper">
    <select id="findAllGradesForGpa">
        SELECT se.semester_id,
               se.`year`,
               se.semester,
               c.credit,
               c.type,
               s.rank
        FROM score s
        JOIN enrollment e
        ON s.enrollment_id = e.enrollment_id
        JOIN course c
        ON c.course_id = e.course_id
        JOIN semester se
        ON c.semester_id = se.semester_id
        WHERE e.user_id = #{userId}
        AND se.semester_id != #{semesterId}
        ORDER BY se.`year` ASC, se.semester ASC
    </select>
</mapper>