<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.muziuniv_be_notuser.app.professor.course.ProfessorCourseMapper">


    <!-- 내가 등록한 강의목록 조회  -->
    <select id="findByUserId">
        SELECT c.user_id, course_code, c.course_id, classroom, type, s.semester, c.time, c.title, c.credit, c.max_std, c.status, c.grade, c.rem_std,
        (
        SELECT COUNT(*)
        FROM enrollment e
        WHERE e.course_id = c.course_id
        ) AS courseStudent
        FROM course c
        JOIN semester s ON s.semester_id = c.semester_id
        WHERE c.user_id = #{userId}
        <if test="sid != null and sid != ''">
            AND s.semester_id = #{sid}
        </if>
        <if test="(sid == null or sid == '')and (year != null and year !='')">
            AND s.year = #{year}
            And s.semester = #{semester}
        </if>
        ORDER BY c.course_id DESC;
    </select>



    <!-- 내 강의별 학생 리스트 조회   -->
    <select id="findStudentsByCourseId">
        SELECT e.user_id, e.enrollment_id
        FROM enrollment e
        WHERE e.course_id = #{courseId}
    </select>


    <!-- 강의 평가조회    -->
    <select id="findSurveyByCourseId">
        SELECT review, ev_score
        FROM enrollment
        WHERE course_id = #{courseId}
        AND ev_score != 0
    </select>


    <!-- 강의계획서 수정 -->
    <update id="modify">
        UPDATE course
        SET classroom = #{classroom},
        type = #{type},
        time = #{time},
        title = #{title},
        credit = #{credit},
        week_plan = #{weekPlan},
        text_book = #{textBook},
        goal = #{goal},
        max_std = #{maxStd},
        grade = #{grade}
        WHERE course_id = #{courseId}
    </update>

    <select id="findSameCode">
        SELECT COUNT(course_id)
        FROM course
        WHERE semester_id = #{semesterId}
        AND course_code = #{courseCode}
    </select>

    <!--    아래는 학생 기능 추후 옮겨 놓는다 .-->

    <!-- 강의설문지 -->
    <update id="updateReview">
        UPDATE enrollment
        SET review = #{review},
        ev_score = #{evScore},
        status = '수강완료'
        WHERE course_id = #{courseId}
        AND user_id = #{userId}
    </update>

    <!--  학생 상태 업데이트   -->
    <update id="updateEnrollStatus" >
        UPDATE enrollment
        SET status = #{status}
        WHERE course_id = #{courseId} AND user_id = #{userId}
    </update>

    <delete id="deleteCourse">
        DELETE FROM course
        WHERE course_id = #{courseId}
        AND user_id = #{userId}
    </delete>
</mapper>