<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.muziuniv_be_notuser.app.notice.NoticeMapper">

    <insert id="insertNotice">
        INSERT INTO notice(notice_title, notice_content, created_at, updated_at, type)
        VALUES (#{noticeTitle}, #{noticeContent}, NOW(), NOW(), #{type})
    </insert>

    <select id="selectNotice">
        SELECT notice_id, notice_title, notice_content, DATE(created_at) AS createdAt, type, view
        FROM notice
        ORDER BY type DESC, notice_id DESC;
    </select>


    <!-- 제목 내용 검색 키워드-->
    <select id="searchNoticeByKeyword">
        SELECT *
        FROM notice
        WHERE notice_title LIKE CONCAT('%', #{keyword}, '%')
        OR notice_content LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY FIELD(type, 1) DESC, created_at DESC
    </select>


<!--    자세히 -->
    <select id="noticeDetail">
        SELECT *
        FROM notice
        WHERE notice_id = #{id}

    </select>

<!--    수정-->
    <update id="updateNotice">
        UPDATE notice
        SET
        notice_title = #{noticeTitle},
        notice_content = #{noticeContent},
        updated_at = NOW(),
        type = #{type}
        WHERE notice_id = #{noticeId}
    </update>

<!--  삭제-->
    <delete id="deleteNotice" >
        DELETE from notice
        WHERE notice_id = #{noticeId}
    </delete>

    <!--조회수 증가-->
<!--    <update id="updateViews">-->
<!--        update review-->
<!--        set readcount = readcount + 1-->
<!--        where review_num = #{review_num}-->
<!--    </update>-->

</mapper>